* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

:root {
    /* color green */
    --color-green: #055B3E;
}

header {
    background-color: #055B3E;
    background-image: url("./images/Home6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1643/2000;

}

section.topSection {
    height: 80vh;
}

section.textSection {
    padding-left: 20%;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-top: 20vh;
}